<div class="main-inner">

<app-header [title]="title" [drawerFromHeader]="drawerFromApp"></app-header>

<app-side-menu (setDrawerControl)="setDrawer($event)" class="content">
  <ng-template #contentMenuTemplate>
<!--      <ul class="menu">-->
<!--        <li><a href="#">Link 1</a></li>-->
<!--        <li><a href="#">Link 2</a></li>-->
<!--        <li><a href="#">Link 3</a></li>-->
<!--      </ul>-->
    <h2 class="pl-2 pr-2 mb-0">Menu</h2>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </ng-template>
  <ng-template #contentTemplate>
    <mat-form-field appearance="legacy">
      <mat-label>Search by products</mat-label>
      <input matInput placeholder="Search..." #searchInput (input)="searchProductByTitle(searchInput.value)">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-checkbox class="example-margin" color="primary" (change)="toggleFavoriteProducts($event)">Show only favorites</mat-checkbox>

    <div class="row-flex" *ngIf="products$ | async as products; else loading ">
<!--    <mat-grid-list cols="3" rowHeight="500" *ngIf="products$ | async as products; else loading ">-->
<!--      json: {{products|json}}-->
<!--      async: {{products$ | async}}-->
<!--      serE: {{se$ | async}}-->

<!--      <mat-grid-tile *ngFor="let product of products;-->
<!--                      index as i; count as c;-->
<!--                       first as f; last as l;-->
<!--                        even as ev; odd as od;">-->
      <app-shop-card class="card"
                     [product]="product"
                     [index]="i"
                     [count]="c"
                     [first]="f"
                     [last]="l"
                     [even]="ev"
                     [odd]="od"
                     *ngFor="let product of products | productsFilter: searchText: hasFavorites;
                      index as i; count as c;
                       first as f; last as l;
                        even as ev; odd as od;">
      </app-shop-card>
<!--      </mat-grid-tile>-->
<!--    </mat-grid-list>-->
    </div>
  </ng-template>
<!--  <div #content>main content</div>-->
</app-side-menu>
  <app-modal></app-modal>
<app-footer></app-footer>

  <ng-template #loading>
    <mat-spinner class="loading"></mat-spinner>
  </ng-template>

<router-outlet></router-outlet>
</div>

